@import "./mixins.scss";
@import "./fonts.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-webkit-scrollbar {
    width: 4px;
    background: #1c1c1c;
    &-thumb {
      background: #ffffff;
    }
  }
}

li {
  list-style: none;
}

.container {
  @include resl("max-width", 1330px);
  @include resl("padding-left", 15px);
  @include resl("padding-right", 15px);
  width: 100%;
  margin: auto;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
