.dashboard {
    &__title {
        font-size: 22px;
        font-weight: 500;
        color: #333;
        line-height: 29px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 500;
        color: #626262;
    }

    &__subtext {
        font-size: 32px;
        font-weight: 500;
        color: #333;
    }

    &__buttons {
        gap: 30px;
    }

    &__btn {
        width: 50%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333;
        color: #fff;
        border-radius: 40px;
    }
    &__subbtn {
        width: 50%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #626262;
        border: 1px solid #626262;
        border-radius: 40px;
    }

    &__chart {
        flex: 1;

        canvas {
          height: 240px !important;
          width: 100% !important;
        }
    }

    &__chart-btn {
      font-size: 14px;
      font-weight: 400;
      color: #626262;
    }

    .form-group {
        position: relative;
        display: flex;
        align-items: center;
    }

    .form-group-table {
        width: 300px;
        overflow: hidden;
    }
      
      .form-group input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      .form-group label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        user-select: none;
        font-size: 16px;
        color: #333;
      }
      
      .form-group label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 0.5px solid #6a6a6a;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      }

      .form-group-table label::before {
        top: 4px;
      }
      
      .form-group label::after {
        content: "";
        position: absolute;
        left: 7px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      .form-group-table label::after {
        top: 6px;
      }
      
      .form-group input[type="checkbox"]:checked + label::before {
        background-color: #fff;
      }
      
      .form-group input[type="checkbox"]:checked + label::after {
        opacity: 1;
        border-color: #49D46f;
      }

      .table {
        // border: 1px solid #E2E2E2;
        // padding: 20px 30px;
        background-color: #fff;
        // table-layout: fixed;
        font-size: 16px;
        color: #333;
        // border-collapse: separate;
    
        th {
            font-weight: 500;
            width: 16.6%;
            text-align: left;
        }
        // th:first-child {
        //     text-align: left;
        //     font-weight: 500;
        //     width: 16.6%;
        // }
        th:last-child {
            text-align: right;
            font-weight: 500;
            width: 16.6%;
        }
    
        &__head {
            th {
                padding-bottom: 20px;
            }
        }
    
        &__body {
            tr {
                border-top: .5px solid #6a6a6a;
            }
             
            td {
                padding: 20px 0;
            }
    
            td:last-child {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}