.publications {
    .form-group-table {
        width: 343px !important;
        overflow: unset !important;
    }

    &__table-label {
        padding-left: 120px !important;
    }

    &__table-img {
        left: 40px;
        top: 0;
    }
}